:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15, 116, 143, 70%);
  --section-padding: 100px;
}
/* end varebals */
/* start componets */
.special-heading {
  margin: 0px auto;
  text-align: center;
}
.special-heading h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  position: relative;
}
.special-heading h2::before {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #333;
  left: 50%;
  bottom: -30px;
  position: absolute;
  transform: translateX(-50%);
}
.special-heading h2::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -40px;
  background-color: white;
}

.special-heading p {
  width: 550px;
  margin: 0px auto 80px;

  max-width: 100%;
  line-height: 1.8;
  color: #777;
}

/* end componets */
/* start global rule */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* end global rule */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "open sans", sans-serif;
}
ul {
  list-style: none;
}
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* start-heading */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100px;
}
.header .container .logo img {
  height: 40px;
}
.header .container ul {
  display: flex;
  margin-right: 10px;
}

.header .container ul li a {
  padding: 40px 10px;
  text-decoration: none;
  display: block;
  color: white;
  font: 14px;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}

.header .container ul li a.active,
.header .container ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.header .container nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.header .container nav .form {
  margin-left: 15px;
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
}
.header .container nav .form i {
  color: white;
  width: 30px;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(27%, -43%);
}
.header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  left: 0px;
  bottom: 0px;
  background: #a2a2a2;
  left: 15px;
}
.header .container .toogle-menu {
  display: none;
  font-size: 22px;
  color: white;
}
@media (min-width: 768px) {
  .header .container nav .toogle-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header .container ul {
    display: none;
  }
  .header .container nav .toogle-menu {
    display: flex;
  }
  .header .container .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
/* end heading */
/* start lading */
.landing {
  min-height: 100vh;
  background-color: turquoise;
  background-image: url("../picture\ for\ \ template2/landing.jpg");
  background-size: cover;
  position: relative;
}
.overlay {
  background-color: rgb(0, 0, 0, 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.landing .landing-content {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
@media (max-width: 767px) {
  .landing .landing-content {
    width: 100%;
    justify-content: flex-start;
  }
}
.landing .landing-content .text {
  color: white;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .landing-content .text {
    max-width: 100%;
  }
}

.landing .landing-content .text h2 {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 32px;
  font-weight: normal;
}
.landing .landing-content .text p {
  line-height: 2;
  font-size: 14px;
  font-weight: normal;
}
.landing .change-background {
  color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  display: inline-block;
  margin-left: 5px;
}
.landing .bullets li.active-li {
  background-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  margin: 80px auto 0ps;
  grid-gap: 30px;
}

.services .services-content .col div {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .services .services-content {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
@media (max-width: 768px) {
  .services .services-content .col div {
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .col div h2 {
    margin: 15px auto;
  }
}
.services .services-content .col div i {
  margin-right: 20px;
  flex-basis: 60px;
}
@media (max-width: 768px) {
  .services .services-content .col div i {
    margin-right: 0px;
  }
}
.services .services-content .col .text {
  flex: 1;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .services .services-content .text {
    margin-left: 50px;
  }
}

.services .services-content .col div h2 {
  font-weight: 700;
  font-size: 20px;
  color: var(--main-color);
}
.services .services-content .col div p {
  margin-top: 20px;
  line-height: 1.8;
  font-size: 16px;
  font-weight: normal;
  color: #777;
}

/* end services */
/* START DESIGN */
.design {
  width: 100%;
  height: 600px;
  background-image: url(../picture\ for\ \ template2/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.design::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 60%);
}
.design .image {
  width: 40%;
  z-index: 2;
  flex: 1;
}
.design .image img {
  position: absolute;
  bottom: -56px;
  left: 100px;
}
@media (max-width: 991px) {
  .design .image img {
    left: 40px;
  }
}
@media (max-width: 768px) {
  .design .image img {
    display: none;
  }
}
.desing-text {
  position: absolute;
  width: 50%;
  color: white;
  font-weight: normal;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  padding: 50px;
  z-index: 2;
  flex: 1;
}
@media (max-width: 768px) {
  .desing-text {
    width: 100%;
    font-size: 18px;
  }
}
.design .desing-text .text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.design .desing-text .text div p {
  flex: 1;
  font-weight: normal;
}
.design .desing-text .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .design .desing-text .text div p,
  .design .desing-text .text h2 {
    font-size: 20px;
  }
}
.design .desing-text .text div i {
  flex-basis: 60px;
}

/* END DESIGN */

/* start potfolio */
.portfolio .container ul {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .container ul li {
  display: inline-block;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .portfolio .container ul li {
    padding: 10px 9px;
  }
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container ul li.active {
  background-color: var(--main-color);
  color: white;
}
/* start-image */
.portfolio .image-portfolio .box {
  position: relative;
  overflow: hidden;
}
.portfolio .image-portfolio {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  overflow: hidden;
}

.portfolio .image-portfolio .box img {
  width: 100%;
  transition: 0.3s linear;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio .image-portfolio {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 767px) {
  .portfolio .image-portfolio {
    grid-template-columns: 100%;
  }
}
.portfolio .image-portfolio .box .TEXT {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 20px;
  font-weight: normal;
  bottom: -29px;
  left: 0px;
  line-height: 2;
  margin-bottom: 29px;
  transform-origin: left bottom;
  transform: rotateX(90deg);
  transition: 0.3s linear;
}
.portfolio .image-portfolio .box:hover .TEXT {
  transform: rotateX(0deg);
}
.portfolio .image-portfolio .box:hover img {
  transform: rotate(3deg) scale(1.2);
}

.portfolio .image-portfolio .box .TEXT h4 {
  font-weight: normal;
  font-size: 18px;
}
.portfolio .image-portfolio .box .TEXT p {
  font-weight: normal;
  color: var(--main-color);
  font-size: 20px;
}
/* end-image */

.portfolio .more {
  display: block;
  background-color: var(--main-color);
  padding: 15px 20px;
  color: white;
  text-transform: uppercase;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}
/* end portfolio */
.video {
  position: relative;
}
.video video {
  width: 100%;
}

.video::before {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 40%);
}
.video .text {
  width: 100%;
  text-align: center;
  line-height: 2;
  color: white;
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 768px) {
  .video .text {
    background-color: rgb(15, 116, 143, 60%);
  }
}
.video .text h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}
.video .text h3 {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.video .text .see-more {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #000;
  padding: 10px 20px;
  width: fit-content;
  text-align: center;
  margin: 25px auto 10px;
  text-transform: uppercase;
}
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
}
.about .special-heading {
  margin-bottom: 60px;
}
.about .container img {
  position: relative;
  bottom: -130px;
  left: 50%;
  margin-top: -130px;
  transform: translatex(-50%);
  max-width: 100%;
}
.stat {
  /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../picture\ for\ \ template2/stats.png);
  background-size: cover;
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.stat .container {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  justify-content: center;
  background-color: var(--transparent-color);
  margin: 0px 10px;
}
.stat .container .box {
  flex-basis: 25%;
  text-align: center;
  padding: 50px;
}
@media (max-width: 767px) {
  .stat .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stat .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 991px) {
  .stat .container .box {
    flex-basis: 25%;
  }
}
.stat .container .box i {
  flex-basis: 40px;
  background: #111;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
}
.stat .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}
.stat .container .box p {
  font-size: 14px;
  font-weight: normal;
}

.stat::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
/* start skill */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .our-skills .container {
    flex-direction: column;
  }
}
.our-skills .container > div {
  flex-basis: 45%;
}
.our-skills .container > div > p {
  text-align: center;
  color: #777;
  margin-bottom: 60px;
  line-height: 2;
}
.our-skills .container > div > h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}
.our-skills .container .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.our-skills .container .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 40px;
}
.our-skills .container .testimonials .content p {
  font-weight: normal;
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 768px) {
  .our-skills .container .testimonials .content {
    flex-wrap: wrap;
    text-align: center;
  }
  .our-skills .container .testimonials .content img {
    margin: 10px auto;
  }
}
.our-skills .container .testimonials .bullet {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.our-skills .container .testimonials .bullet li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #aaa;
  margin-left: 5px;
}
.our-skills .container .testimonials .bullet li.active {
  background-color: var(--main-color);
}
.our-skills .container .testimonials .content span {
  display: block;
  padding: 10px 0px 5px;
  text-align: right;
  color: #777;
  font-size: 13px;
}

.our-skills .container .parent h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}
.our-skills .container .parent .son {
  width: 100%;
  height: 30px;
  background-color: #eee;
  margin-bottom: 15px;
}
.our-skills .container .parent span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .container .parent span::before {
  content: attr(data-progres);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .container .parent span::after {
  content: "";
  border: 8px solid;
  position: absolute;
  border-color: black transparent transparent;
  right: -6px;
  top: -14px;
}
/* end skill */
/* start qoute */
.qoute {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../picture\ for\ \ template2/quote.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.qoute::before {
  content: "";
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 70%);
}
.qoute .container {
  position: relative;
}
.qoute .container q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
.qoute .container span {
  display: block;
  font-size: 20px;
}
/* end qoute */
/* start pricing */
.pricing {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  text-align: center;
}
.pricing .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  text-transform: capitalize;
}

.pricing .boxes .box {
  background-color: #fcfcfc;
}

.pricing .boxes .box .head {
  padding: 30px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .boxes .box .head h3 {
  font-weight: normal;
  margin-bottom: 10px;
}
.pricing .boxes .box .head span {
  font-weight: bold;
  font-size: 50px;
  margin-left: 15px;
}
.pricing .boxes .box .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -26px;
  left: -10px;
}
.pricing .boxes .box .head span::after {
  content: "/MO";
  position: relative;
  font-size: 15px;
  right: -10px;
  bottom: -9px;
}
.pricing .boxes .box ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .boxes .box ul li {
  display: block;
  padding: 15px;
  position: relative;
}
.pricing .boxes .box ul li:not(:last-child)::after {
  content: "";
  height: 1px;
  width: 120px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
}
.pricing .boxes .box .foot a {
  color: #222;
  padding: 30px 20px;
  border: 1px solid var(--main-color);
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 30px auto;
}
.pricing .container .content {
  margin-top: 50px;
  word-spacing: 1px;
  font-weight: bold;
  font-size: 22px;
}
.pricing .container .contact-us {
  display: block;
  text-decoration: none;
  background-color: var(--main-color);
  width: fit-content;
  margin: 20px auto;
  padding: 15px 20px;
  color: white;
  text-transform: capitalize;
}

/* end pricing */

/* start subscribe */
.scbscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../picture\ for\ \ template2/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.scbscribe::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.scbscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
.scbscribe .container form {
  display: flex;

  width: 500px;
  max-width: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .scbscribe .container {
    flex-direction: column;
  }
}
.scbscribe .container form input[type="email"] {
  padding: 15px 15px 15px 49px;
  background: none;
  outline: none;
  width: calc(100% - 125px);
  border: 1px solid white;
  border-right: none;
}
.scbscribe .container form i {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
}
.scbscribe .container form input[type="submit"] {
  width: 125px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.scbscribe .container p {
  margin-left: 55px;
  line-height: 2;
}
@media (max-width: 991px) {
  .scbscribe .container p {
    margin-top: 30px;
    text-align: center;
  }
}
.scbscribe .container form input[type="email"]::placeholder {
  color: white;
}
/* end subscribe */

/* start conact-us */
.contact-us {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.contact-us .container .content-contact {
  display: flex;
  justify-content: space-between;
}
.contact-us .container .content-contact form {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.contact-us .container .content-contact input[type="email"],
.contact-us .container .content-contact input[type="text"] {
  padding: 25px;
  margin-bottom: 35px;
  width: 100%;
  border: #ccc 1px solid;
  outline: #ccc;
}
.contact-us .container .content-contact textarea {
  overflow: auto;
  outline: #ccc;
  width: 100%;
  height: 180px;
  border: #ccc 1px solid;
  margin: 0px 0px 25px;
  padding: 25px;
}
.contact-us .container .content-contact input[type="submit"] {
  width: fit-content;
  background: var(--main-color);
  padding: 15px 25px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
}
.contact-us .container .content-contact .informaition {
  flex-basis: 20%;
}
.contact-us .container .content-contact .informaition h4 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
}
.contact-us .container .content-contact .informaition h4#first {
  margin-bottom: 25px;
}
.contact-us .container .content-contact .informaition h4#second {
  margin-top: 118px;
}
.contact-us .container .content-contact .informaition span {
  display: block;
  color: #777;
  margin-bottom: 15px;
}
.contact-us .container .content-contact .informaition address {
  line-height: 1.8;
  margin-top: 20px;
  color: #777;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  .contact-us .container .content-contact {
    flex-direction: column;
  }
  .contact-us .container .content-contact .informaition {
    order: -1;
    margin: 25px auto;
  }
}
/* end conact-us */
/* start footer */
.footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../picture\ for\ \ template2/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 50%);
  height: 100%;
}

.footer .container .footer-content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
}
.footer .container .footer-content .image {
  margin-bottom: 65px;
}
.footer .container .footer-content h3 {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 25px;
  position: relative;
}
.footer .container .footer-content h3::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: -19px;
  width: calc(100% + 30px);
  height: 2px;
  background: white;
}
.footer .container .footer-content .social i {
  padding: 15px;
}
.footer .container .footer-content p {
  margin-top: 30px;
  text-transform: capitalize;
}

.footer .container .footer-content span {
  color: var(--main-color);
}
/* end footer */
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
